@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #55dff7, #c648ec, #44efc4);

}

.card {
  background: white;
  box-shadow: 0 10px 20px rgba(243, 146, 56, 0.1);
  border-radius: 15px;
  padding: 30px;
  width: 600px;
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: #2491e4;
  margin-bottom: 50px;
}
